<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>System zarządzania treścią multimedialną w CTI</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body onload="enterTvName()">

<script>
//<![CDATA[
function enterTvName()
{
    form = document.getElementById("form");
	document.getElementById("name").value=prompt("Podaj nazwę telewizora ułatwiającą rozpoznanie telewizora w panelu administracyjnym:");
    form.submit();
}
//]]>
</script>
<div th:replace="fragments/header :: header"/>

    <form id="form" action="#" th:action="@{/}" method="post">
        <input id="name" name="name" hidden="hidden"/>
    </form>
</body>
</html>
