<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>System zarządzania treścią multimedialną w CTI</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <div th:replace="fragments/header :: header-css"/>

    </head>
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

        <div th:replace="fragments/header :: header"/>
        <div id="container">
            <div id="inner_container" style="padding-top:80px;text-align:center;">
                <form method="get" action="modifySchedule">
                    Wybierz telewizor:<br/>
                    <select name="tvId" id="tvId">
                        <option th:each="tv : ${tvs}" th:value="${tv.id}" th:text="${tv.name}"></option>
                    </select><br/>
                    <input id="submit" class="button" type="submit" value="Zmień prezentację"/>
                </form>
            </div>
        </div>
    </body>
</html>