<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>System zarządzania treścią multimedialną w CTI</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="css/dhtmlxscheduler.css" type="text/css" charset="utf-8" />
		<script src="js/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/ext/dhtmlxscheduler_collision.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/ext/dhtmlxscheduler_serialize.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="js/ext/dhtmlxscheduler_key_nav.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="js/ext/dhtmlxscheduler_recurring.js" type="text/javascript" charset="utf-8"></script>

		<div th:replace="fragments/header :: header-css" th:remove="tag"/>
		
		<style type="text/css">
		html, body{
				margin:0px;
				padding:0px;
				height:100%;
				overflow:hidden;
			}
		</style>

		<script th:inline="javascript">
			function init() {
				
        /*<![CDATA[*/
				var scheduleList = [[${schedules}]];
				var collectionList = [[${collections}]];
        /*]]>*/
				scheduler.config.xml_date="%Y-%m-%d %H:%i";
				scheduler.config.prevent_cache = true;
		
				scheduler.config.details_on_create=true;
				scheduler.config.details_on_dblclick=true;
				scheduler.config.occurrence_timestamp_in_utc = true;
				scheduler.config.include_end_by = true;
				scheduler.config.repeat_precise = true;
		
				scheduler.init('scheduler_here',new Date(),"month");
				scheduler.parse(scheduleList,"json");
		        scheduler.config.lightbox.sections=[
		            {name:"description", height:200, map_to:"text", type:"textarea" , focus:true},
		            {name:"Kolekcja", height:21, type:"select", map_to:"collection", options:collectionList},
		            {name:"recurring", button:"recurring", type:"recurring", map_to:"rec_type", form:"my_rec_form"},
		            {name:"time", height:72, type:"time", map_to:"auto"}
		        ];
		        scheduler.data_attributes = function(){
		            var empty = function(a){ return a||""; };
		            return [["id"],
		                ["text"],
		                ["start_date",scheduler.templates.xml_format],
		                ["end_date",scheduler.templates.xml_format],
		                ["rec_type",empty],
		                ["event_length",empty],
		                ["event_pid",empty],
		                ["collection",empty]];
		        };
			}
	        function save(){
	        console.info(scheduler.toJSON());
	            $.ajax({
				    url: '/modifySchedule?tvId=' + [[${tv.id}]],
				    dataType: 'json',
				    type: 'post',
				    contentType: 'application/json',
				    data: scheduler.toJSON(),
     				processData:false,
				    success: function(){
				        alert('Informacje zostały zapisane!');
				        location.reload();
				    },
				    error: function( errorThrown ){
				        location.reload();
				    }
				});
	        };
		</script>
    </head>
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" onload="init();">

		<div th:replace="fragments/header :: header"/>
        <div class="container" style="margin-top: 50px;">
        	<center><span style="font-size: 24px;">Konfiguracja telewizora - <span th:text="${tv.name}"></span> <button onclick="save();" class="btn btn-success btn-lg">Zapisz</button></span></center>
        </div>
			<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:calc(100% - 125px);'>
				<div class="dhx_cal_navline">
					<div class="dhx_cal_prev_button">&nbsp;</div>
					<div class="dhx_cal_next_button">&nbsp;</div>
					<div class="dhx_cal_today_button"></div>
					<div class="dhx_cal_date"></div>
					<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
					<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
					<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
				</div>
				<div class="dhx_cal_header">
				</div>
				<div class="dhx_cal_data">
				</div>		
			</div>
		    <div class="dhx_form_repeat" id="my_rec_form">
			<form>
		    <div class="dhx_repeat_left">
		               <label><input class="dhx_repeat_radio" type="radio" name="repeat" value="day" />Daily</label><br />
		               <label><input class="dhx_repeat_radio" type="radio" name="repeat" value="week" checked="checked" />Weekly</label><!--<br />
		               <label><input class="dhx_repeat_radio" type="radio" name="repeat" value="month" />Monthly</label><br />
		               <label><input class="dhx_repeat_radio" type="radio" name="repeat" value="year" />Yearly</label>-->
		    </div>
		    <div class="dhx_repeat_divider"></div>
		    <div class="dhx_repeat_center">
		               <div style="display:none;" id="dhx_repeat_day">
		                   <label><input class="dhx_repeat_radio" type="radio" name="day_type" value="d"/>Every</label><input class="dhx_repeat_text" type="text" name="day_count" value="1" />day<br />
		                   <label><input class="dhx_repeat_radio" type="radio" name="day_type" checked="checked" value="w"/>Every workday</label>
		               </div>
		               <div id="dhx_repeat_week">
		                   Repeat every<input class="dhx_repeat_text" type="text" name="week_count" value="1" />week next days:<br />
		
		                   <table class="dhx_repeat_days">
		                       <tr>
		                           <td>
		                               <label><input class="dhx_repeat_checkbox" type="checkbox" name="week_day" value="1" />Monday</label><br />
		                               <label><input class="dhx_repeat_checkbox" type="checkbox" name="week_day" value="4" />Thursday</label>
		                           </td>
		                           <td>
		                               <label><input class="dhx_repeat_checkbox" type="checkbox" name="week_day" value="2" />Tuesday</label><br />
		                               <label><input class="dhx_repeat_checkbox" type="checkbox" name="week_day" value="5" />Friday</label>
		                           </td>
		                           <td>
		                               <label><input class="dhx_repeat_checkbox" type="checkbox" name="week_day" value="3" />Wednesday</label><br />
		                               <label><input class="dhx_repeat_checkbox" type="checkbox" name="week_day" value="6" />Saturday</label>
		                           </td>
		                           <td>
		                               <label><input class="dhx_repeat_checkbox" type="checkbox" name="week_day" value="0" />Sunday</label><br /><br />
		                           </td>
		                       </tr>
		                   </table>
		
		               </div>
		               <!--<div id="dhx_repeat_month">
		                   <label><input class="dhx_repeat_radio" type="radio" name="month_type" value="d"/>Repeat</label><input class="dhx_repeat_text" type="text" name="month_day" value="1" />day every<input class="dhx_repeat_text" type="text" name="month_count" value="1" />month<br />
		                   <label><input class="dhx_repeat_radio" type="radio" name="month_type" checked="checked" value="w"/>On</label><input class="dhx_repeat_text" type="text" name="month_week2" value="1" /><select name="month_day2"><option value="1" selected="selected" >Monday<option value="2">Tuesday<option value="3">Wednesday<option value="4">Thursday<option value="5">Friday<option value="6">Saturday<option value="0">Sunday</select>every<input class="dhx_repeat_text" type="text" name="month_count2" value="1" />month<br />
		               </div>
		               <div style="display:none;" id="dhx_repeat_year">
		                   <label><input class="dhx_repeat_radio" type="radio" name="year_type" value="d"/>Every</label><input class="dhx_repeat_text" type="text" name="year_day" value="1" />day<select name="year_month"><option value="0" selected="selected" >January<option value="1">February<option value="2">March<option value="3">April<option value="4">May<option value="5">June<option value="6">July<option value="7">August<option value="8">September<option value="9">October<option value="10">November<option value="11">December</select>month<br />
		                   <label><input class="dhx_repeat_radio" type="radio" name="year_type" checked="checked" value="w"/>On</label><input class="dhx_repeat_text" type="text" name="year_week2" value="1" /><select name="year_day2"><option value="1" selected="selected" >Monday<option value="2">Tuesday<option value="3">Wednesday<option value="4">Thursday<option value="5">Friday<option value="6">Saturday<option value="7">Sunday</select>of<select name="year_month2"><option value="0" selected="selected" >January<option value="1">February<option value="2">March<option value="3">April<option value="4">May<option value="5">June<option value="6">July<option value="7">August<option value="8">September<option value="9">October<option value="10">November<option value="11">December</select><br />
		               </div>-->
		    </div>
		    <div class="dhx_repeat_divider"></div>
		    <div class="dhx_repeat_right">
		               <label><input class="dhx_repeat_radio" type="radio" name="end" checked="checked" />No end date</label><br />
		               <label><input class="dhx_repeat_radio" type="radio" name="end" />After</label><input class="dhx_repeat_text" type="text" name="occurences_count" value="1" />occurrences<br />
		               <label><input class="dhx_repeat_radio" type="radio" name="end" />End by</label><input class="dhx_repeat_date" type="text" name="date_of_end" value="'+scheduler.config.repeat_date_of_end+'" /><br />
		    </div>
		    </form>
		 </div>
		 <div style="clear:both">
		 </div>
    </body>
</html>