<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>System zarządzania treścią multimedialną w CTI</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <div th:replace="fragments/header :: header-css"/>

    </head>
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

        <div th:replace="fragments/header :: header"/>
        <div id="container">
            <div id="inner_container" style="padding-top:80px;text-align:center;">
                <form method="post" action="addObject" enctype="multipart/form-data">
                    Dodaj grafikę: <br/><input name="image" type="file" accept="image/*" style="display:inline-block"/><br/>
                    Dodaj nazwę:<br/><input name="name" type="text"/><br/>
                    <input id="submit" name="submit" class="button" type="submit" value="Dodaj multimedia"/>
                </form>
            </div>
        </div>
        <div class="container" style="margin-top: 100px;">
            <form method="post" action="/removeObject">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="row">
                            <div class="col-xs-6"><label for="objectId">Usuń multimedia*: </label></div>
                            <div class="col-xs-6">
                                <select name="objectId" id="objectId">
                                    <option th:each="object : ${objects}" th:value="${object.id}" th:text="${object.name}"></option>
                                </select><br/>
                                * - na liście widoczne są tylko obiekty niewykorzystywane w żadnych kolekcjach!
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12"><input type="submit" value="Usuń multimedia" class="btn btn-danger btn-block" /></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div style="color:green;text-align: center;font-size: 16pt;padding-bottom: 20px;"><span th:text="${green}"></span></div>
        <div style="color:red;text-align: center;font-size: 16pt;;padding-bottom: 20px;"><span th:text="${red}"></span></div>
    </body>
</html>