<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>System zarządzania treścią multimedialną w CTI</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <div th:replace="fragments/header :: header-css"/>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function generateRows() {
            var objects = [[${objects}]];
            var table = document.getElementById("addCollectionTable");
            var sourceNumberOfRows = table.rows.length-1;
            var destinationNumberOfRows = parseInt(document.getElementById("objectsNumber").value);
            for(var i = sourceNumberOfRows ; i < destinationNumberOfRows ; i++) {
                var row = table.insertRow(i+1);
                var cell1 = row.insertCell(0);
                cell1.innerText=i;
                var selectList = document.createElement("select");
                selectList.name="values["+i+"]";
                for (var j = 0; j < objects.length; j++) {
                    var option = document.createElement("option");
                    option.value = objects[j].id;
                    option.text = objects[j].name;
                    selectList.appendChild(option);
                }
                var cell2 = row.insertCell(1);
                cell2.appendChild(selectList);
            }
            for(var k =sourceNumberOfRows; k>=destinationNumberOfRows+1; k--){
                table.deleteRow(k);
            }
        }
        /*]]>*/
    </script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<div th:replace="fragments/header :: header"/>
<div id="container" class="container">
    <div id="inner_container" style="padding-top:80px;text-align:center;">
        <form method="post" action="addCollection" modelAttribute="collectionWrapper">
            Wybierz ilość obiektów którą chcesz umieścić w kolekcji:
            <select name="objectsNumber" id="objectsNumber" onchange="generateRows();">
                <option value="0" text="0"></option>
                <option th:each="object,status : ${objects}" th:value="${status.index+1}" th:text="${status.index+1}"></option>
            </select>
            <div class="table-responsive">
                <!--<table class="table table-hover table-responsive" style="text-align:center;width:auto;margin:auto;color:#1B2C46">-->
                <table id="addCollectionTable" class="table-condensed" style="margin:auto">
                    <thead>
                        <tr>
                            <td>
                                Lp.
                            </td>
                            <td>
                                Nazwa obiektu:
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            Podaj unikatową nazwę kolekcji: <input type="text" name="name"/><br/>
            <input id="submit" name="submit" class="button" type="submit" value="Dodaj kolekcję"/>
        </form>
    </div>
</div>
<div class="container" style="margin-top: 100px;">
    <form method="post" action="/removeCollection">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="row">
                    <div class="col-xs-6"><label for="collectionId">Usuń kolekcję*: </label></div>
                    <div class="col-xs-6">
                        <select name="collectionId" id="collectionId">
                            <option th:each="collection : ${collections}" th:value="${collection.id}" th:text="${collection.name}"></option>
                        </select><br/>
                        * - na liście widoczne są tylko kolekcje niewykorzystywane w żadnej prezentacji!
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12"><input type="submit" value="Usuń kolekcję" class="btn btn-danger btn-block" /></div>
                </div>
            </div>
        </div>
    </form>
</div>
<div style="color:green;text-align: center;font-size: 16pt;padding-bottom: 20px;"><span th:text="${green}"></span></div>
<div style="color:red;text-align: center;font-size: 16pt;;padding-bottom: 20px;"><span th:text="${red}"></span></div>
</body>
</html>