<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TV in CTI - Concept Template</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Gallery theme - Concept -->
    <link rel="stylesheet" href="../css/gallery.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top gallery-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TV in CTI - Concept Template</a>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron gallery-container" id="gallery"></div>

    <script th:if="${presentation==null}">alert("Brak prezentacji!");</script>
    <script th:if="${presentation!=null}">alert("Jest prezentacja!");</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- Gallery script - Concept -->
    <script src="../js/gallery.js"></script>
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <script th:inline="javascript">
        var stompClient = null;
        var tvId = [[${tvId}]];
        var presentation = [[${presentation}]];
        var objectsTypes = [[${objectsTypes}]];
        function connect() {
            var socket = new SockJS('/cti-websocket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                alert("Connected successfully!");
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/forceRefresh', function (forceRefresh) {
                    alert(forceRefresh.body.tvId+ " " + tvId + " "+forceRefresh.body.tvId===tvId);
                    if(forceRefresh.body.tvId===tvId){
                        location.reload();
                    }
                });
            });
        }

        /*<![CDATA[*/
        if(presentation!==null) {
            var objects = [];
            for(var i=0; i<presentation.length; i++)
            {
                if(objectsTypes[i].endsWith("mp4")){
                    objects.push(new VideoGalleryObject(presentation[i]));
                } else {
                    objects.push(new ImageGalleryObject(presentation[i]));
                }
            }
            setGalleryObjects(objects);
        } else {
            setDefaultGalleryObjects();
        }
        /*]]>*/

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            console.log("Disconnected!");
        }

        connect();
    </script>
  </body>
</html>