<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>System zarządzania treścią multimedialną w CTI</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <div th:replace="fragments/header :: header-css"/>
    </head>
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

        <div th:replace="fragments/header :: header"/>
        <span class="text-align:center">Lista dodanych multimediów</span>
        <div class="container" style="padding-top: 120px">
            <div class="row portfolio" th:each="presentation : ${presentations}">
                    <div th:text="|Prezentacja wyświetlana na telewizorze ${presentation.tv.name} od godz: ${presentation.startTime}|"/>
                    <div class="col-sm-6 col-md-3" th:each="collectionObject : ${presentation.collection.collectionObjects}">
                        <div class="thumbnail" th:if="${#strings.endsWith(collectionObject.objectModel.contentType,'mp4')}">
                            <video autoplay="autoplay" th:src="@{/getObject(id=${collectionObject.objectModel.id})}" th:alt="${collectionObject.objectModel.name}" style="width:100%;" data-toggle="modal" th:attr="data-target='#myModal'+${collectionObject.objectModel.id}" controls="controls" loop="loop"/>
                        </div>
                        <div class="thumbnail" th:unless="${#strings.endsWith(collectionObject.objectModel.contentType,'mp4')}">
                            <img class="img-responsive" th:src="@{/getObject(id=${collectionObject.objectModel.id})}" th:alt="${collectionObject.objectModel.name}" style="height:175px;width:262px" data-toggle="modal" th:attr="data-target='#myModal'+${collectionObject.objectModel.id}"/>
                        </div>
                    </div>
            </div>
            <!-- Modal -->
            <div class="row portfolio" th:each="presentation : ${presentations}">
                <div class="modal fade" th:id="|myModal${collectionObject.objectModel.id}|" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" th:each="collectionObject : ${presentation.collection.collectionObjects}">
                    <div class="modal-dialog" style="margin-top:160px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel" th:text="${collectionObject.objectModel.name}"></h4>
                            </div>
                            <div class="modal-body" th:if="${#strings.endsWith(collectionObject.objectModel.contentType,'mp4')}">
                                <video style="width:100%" autoplay="autoplay" th:src="@{/getObject(id=${collectionObject.objectModel.id})}" th:alt="${collectionObject.objectModel.name}" controls="controls" loop="loop" />
                            </div>
                            <div class="modal-body" th:unless="${#strings.endsWith(collectionObject.objectModel.contentType,'mp4')}">
                                <img class="img-responsive" th:src="@{/getObject(id=${collectionObject.objectModel.id})}" th:alt="${collectionObject.objectModel.name}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>