<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TV in CTI - Concept Template</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="../../css/bootstrap-theme.min.css" />

    <!-- Gallery theme - Concept -->
    <link rel="stylesheet" href="../../css/gallery.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top gallery-navbar" th:if="${displayHeader}">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" th:text="${headerText}"></a>
        </div>
      </div>
    </nav>


    <div class="jumbotron gallery-container" id="gallery">
      <div class="displayed-object" th:each="object, iter : ${objects}">
        <div th:if="${#strings.endsWith(object.contentType,'mp4')}">
          <video class="video-object" th:id="|object${iter.index}|" th:src="@{/getObject(id=${object.id})}"/>
        </div>
        <div th:unless="${#strings.endsWith(object.contentType,'mp4')}">
          <img class="image-object" th:src="@{/getObject(id=${object.id})}" th:id="|object${iter.index}|"/>
        </div>
      </div>
    </div>

    <script src="../../js/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="../../js/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="../../js/jquery-ui.min.js"></script>
    <!-- Gallery script - Concept -->
    <script src="../../js/gallery.js?"></script>
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var stompClient = null;
        var tvId = [[${tvId}]];
        var objects = [[${objects}]];
        var connectionLost = false;
        function connect() {
            var socket = new SockJS('/cti-websocket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                //HACK: Telewizor niepoprawnie obsługuje video przy utraceniu połączenia ze zródłem jeśli strona jest osadzona w ramce
                if (inIframe() && connectionLost) location.reload();
                stompClient.subscribe('/topic/forceRefresh', function (forceRefresh) {
                    var forceRefreshObject = JSON.parse(forceRefresh.body);
                    console.info(forceRefreshObject);
                    if(forceRefreshObject.tvId===tvId){
                        location.reload();
                    }
                });
            }, function(error) {
            	if (error.indexOf("Whoops! Lost connection to ") == 0)
            	{
            		stompClient = null;
            		window.setTimeout(connect, 5000);
            		connectionLost = true;
            		console.info('Connection lost, trying to reconnect in 5 seconds...');
            	}
            });
        }

        if(objects!==null) {
            var galleryObjects = [];
            for(var i=0; i<objects.length; i++)
            {
            	if (objects[i] && objects[i].contentType)
            	{
	                if(objects[i].contentType.lastIndexOf("mp4") == objects[i].contentType.length - 3){
	                    galleryObjects.push(new VideoGalleryObject(i));
	                } else {
	                	var object = new ImageGalleryObject(i);
	                	object.setDisplayTime(1000 * [[${displayTime}]]);
	                    galleryObjects.push(object);
	                }
                }
            }
            setGalleryObjects(galleryObjects, [[${displayBubbles}]]);
        }

        window.onload = connect;
        /*]]>*/
    </script>
  </body>
</html>